<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<div>
  <!-- <h1><%=title%></h1> -->
  <div class="container">
  
    <form action='/file/search?id=<%=title%> ' method='POST'>
      <div class="row d-flex justify-content-center my-5">
        <div class="col-3">
      <input type="text"  class="form-control" name='col'placeholder="col value ">
    </div>
    <div class="col-3">

        <input type='text' class="form-control" placeholder="value to search" name='name'>
      </div>
      <div class="col-3  mx-auto">

        <input type='submit'  class="btn  btn-primary " value='search'  >
      </div>
    </div>
    </form>
  
    </div>
 
    <table  class="table" style="width:100%">
      <thead>
       <tr>
        <% for (h of headers) {%>
            
           <th><%=h%> </th>
            <%}%>
       </tr>
      </thead>
     
        <% for (f of data) {%>
                 
         
           <tr>
            <% for (c of headers ) {%>
             <td><%=f[c]%></td>
               <%}%>
            </tr>
            <%}%>
        
    </table>

    
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
